.container-grid-forms {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 5px 20px 5px;
}

.form-img {
    display: flex;
    justify-content: center;
}

.form form {
    width: auto;
}
label {
    font-family: "Platypi", serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid #00be03;
    border-radius: 20px;
}
legend {
    font-family: "Platypi", serif;
    font-weight: 700;
    font-size: 20px;
}

.form form fieldset input, textarea, .form form fieldset select, .form form fieldset select option {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 15px;
    padding: 20px;
    outline: unset;
    border-radius: 10px;
    resize: none;
}


/* submit */

.form form fieldset input[type="submit"] {
    background-color: white;
    border: #00be03 solid 2px;
    border-radius: 20px;
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;  
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #00be03;
    cursor: pointer;
}

.form form fieldset input[type="submit"]:hover {
    background-color: #00be03;
    color: white;
    transition: 0.3s ease-in-out ;
}


.form form fieldset .submit {
    display: flex;
    justify-content: center;
}

.container .title--text a h1 {
    margin-left: 20px;
    margin-top: 10px;
}


/* generos */ 
.genero-form {
    margin: 10px 0px 10px 0px;
}
.generos {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.generos .genero {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(69, 69, 69);
    margin: 5px 10px;
}


/* partes junte-se */ 

.container-part-form {
    display: flex;
    justify-content: center;
}
.form-part {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    padding: 5px;
}

.container--junte-se {
    grid-template-columns: 1fr;
}

/* visita */

.title h2 {
    color: black;
    margin-bottom: 10px;
}

.itens {
    display: flex;
    flex-direction: column;
}
.itens a {
    margin: 5px 0px 5px 0px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.itens a:hover {
    color: var(--destaque-cor);
}

/* contato */ 
.img-contato figure img {
    max-width: 320px;
    max-height: 320px;
}